:root {
	--primary-blue: #3D5A80;
	--light-blue: #6D98BA;
	--dark-blue: #001e4e;
	--gray: #A8BACC;
	--yellow: #FFD166;
	--green: #4CAF50;
	--red: #E57373;
	--logo1: #ff7445;
}
*{
	margin: 0;
}
body{
	background-color:  rgb(249, 253, 255);
	font-family: "Nunito", sans-serif;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	height: 8vh;
}

.brand {
	display: flex;
	align-items: center;
}

.brand-logo {
	height: 15%;
	width: 200px;
}


.navbar {
display: flex;
align-items: center;
flex: 1;
justify-content: flex-end;

}

.nav-toggle {
background-color: transparent;
border: none;
color: #000000;
cursor: pointer;
padding: 0 0.5rem;
display: none;
}

.nav-content {
display: flex;
align-items: center;
}

.nav-item {
color: #000000;
text-decoration: none;
padding: 20px 10px;
height: 100%;
display: flex;
align-items: center;
font-family: sans-serif;
font-size: 16px;
margin: 0px 10px;
text-transform: uppercase;
}

.nav-item:hover {
color: #ff7445;
border-bottom: #ff7445 solid 2px;
}

.nav-item.active {
color:var(--green);
border-bottom:var(--green) solid 2px;
}
.nav-item.nav-button{
	background-color: transparent;
	border-radius: 30px;
	border: var(--dark-blue) 1px solid;
	padding: 10px 25px;
	text-align: center;
	color: #000000;
}
.nav-item.nav-button:hover{
	cursor: pointer;
	transition: all .3s  ease-in-out;
	color: white;
	border: white;
	background-color: #ff7445;
}

.container{
	display: flex;
}
.side-nav{
	width: 250px;
	padding: 30px 50px;
	margin: 20px 50px;
	background-color: rgb(240, 240, 240);
	border-radius: 30px;
	min-height: 70vh;
}
.side-nav h2{
	text-align: center;
	text-transform: uppercase;
}
.side-nav-bar{
    list-style: none;
	/*default ul styles remove*/
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
	margin-top: 30px;
}
.side-nav-bar .side-nav-item{
	padding: 20px 20px;
	text-align: center;
	background-color: rgb(230, 230, 230);
	margin-top: 10px;
	border-radius: 10px;
	box-shadow: lightgray 10px 10px 10px;
	color: black;
}
.side-nav-item:hover{
	background-color: rgb(250, 250, 250);
}
.side-nav-link{
	text-decoration: none;
	text-transform: uppercase;
}
.side-nav-item.sub-active{
	background-color: var(--logo1) !important;
	color: white;
}
.side-nav-item.side-nav-logout{
	margin-top: 30px;
	padding: 20px 20px;
	text-align: center;
	border-radius: 10px;
	box-shadow: lightgray 10px 10px 10px;
	border: #ff0020 solid 1px;
}
.side-nav-item.side-nav-logout:hover{
	background-color: #e6001a;
	color: white;
}
.side-nav-item.side-nav-logout:hover i{
	transform: translateX(50px);
	transition: all 0.5s ease;
}
.content{
	flex: 1;
	background-color: rgba(240, 240, 240, 0.5);
	width: 100%;
	padding: 20px 30px;
	margin-top: 20px;
	margin-right: 50px;
	margin-bottom: 20px;
	border-radius: 20px;
	box-shadow: rgb(200, 200, 200) 10px 15px 10px;
}
.content .top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: /*rgb(50, 200, 50);*/black;
	padding: 10px 20px;
	border-top-left-radius: 20px;
	border-top-right-radius:20px
}
.content .top .account{
	display: flex;
	align-items: center;
}
.account img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
}
.account h3{
	color: white;
	font-size: 22px;
	text-transform: uppercase;
}
.top .icons{
	color: white;
}
.icons i{
	cursor: pointer;
	margin-right: 10px;
}
.middle{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}
.middle .box{
	width: calc((100% - 40px) / 3);
	padding: 25px 10px;
	text-align: center;
	border: 1px solid rgb(0, 0, 70);
	border-radius: 10px;
	text-transform: uppercase;
}
.box:nth-child(1), .box:nth-child(2){
	margin-right: 50px;
}
.box:hover{
	transform: scale(1.1);
	background-color: rgb(236, 236, 236);
	transition: all 0.5s ease;
}
.bottom{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
	margin-top: 20px;
}
.table1 ,.table2{
	width: calc((100% - 50px) / 2);
}
.bottom table caption{
	font-size: 18px;
	font-weight: bold;;
}
.bottom table  th, table td{
	text-align: left;
	padding: 10px;
}
.table-btn{
	padding: 12px 20px;
	margin-top: 15px;
	border-radius: 10px;
	border: 1px solid var(--logo1);

}
.table-btn:hover{
	outline: none;
	background-color:black;
	color: white;
	border: none;
	transition: all 0.3s ease;
}

.add_camp{
	background-color: rgb(0, 191, 255);
	padding: 15px  40px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	color:white;
	box-shadow: 0 0 10px lightgray;
}
.add_camp:hover{
	background-color: #001e4e;
	transition: all 0.5s ease;
}
.camp_bottom {
	padding:  20px 80px;
}
.camp_bottom table caption{
	font-size: 22px;
	font-weight: bold;
	padding: 10px 0px;
	text-transform: uppercase;
	text-decoration:underline ;
}
.ongoing_table, .campaign_requests{
	margin-bottom: 80px;
}
table  tr:nth-child(even){
	background-color:#dbdbdb91 ;
}
.manage_option_btn{
	text-align: center;
}
.manage_option_btn #btn1{
	background-color: gray;
	color: white;
	padding: 10px 30px;
	border: none;
	border-radius: 10px;
	margin-bottom: 5px;
}
.manage_option_btn #btn2{
	background-color: red;
	color: white;
	padding: 10px 22px;
	border: none;
	border-radius: 10px;
}
.pay_bottom{
	padding:  20px 80px;
}
.pay_bottom .table table{
	width: 100% !important;
}

.pay_bottom .table table caption{
	font-size: 22px;
	font-weight: bold;
	padding: 10px 0px;
	text-transform: uppercase;
	text-decoration:underline ;
}
