.form_container{
    max-width: 450px;
    width:100%;
    background-color:rgb(249, 253, 255);
    padding: 25px;
    border-radius: 12px;
    box-shadow: rgb(0, 0, 0, 0.1);
    display: block;
    margin: auto;
}
.form_container h2{
    font-size: 22px;
    color:black;
    text-align: center;
    font-weight: bold;
}

.input_box{
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 40px;
}

.two_input_boxes{
	display: flex;
	gap:10px;
}

.input_box input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding:  0 30px;
    color: #333;
    transition:all 0.2s ease;
    border-bottom: 1.5px solid #aaaaaa;
}

.input_box input:focus{
    border-color: #ff7445;
}

.input_box i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #707070;
}

.input_box i.email,
.input_box i.password,
.input_box i.user,
.input_box i.phone{
    left: 0;
}

.input_box input:focus ~ i.email,
.input_box input:focus ~ i.password,
.input_box input:focus ~ i.user,
.input_box input:focus ~ i.phone,
.input_box input:focus ~ i.pw_hide{
   color: #ff7445;
}
.input_box i.pw_hide{
    right: 0;
    font-size: 18px;
    cursor: pointer;
}

.option_field{
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form_container a{
    color: #ff7445;
    font-size: 12px;
    text-decoration: none;
}

.form_container a:hover{
    text-decoration: underline;
}

.checkbox{
    display: flex;
    column-gap: 8px;
    white-space: nowrap;
    font-size: 12px;
    cursor: pointer;
}

.checkbox input{
    accent-color: #ff7445;
}

.checkbox label{
    font-size: 12px;
    cursor: pointer;
    user-select: none;
    color: black;
}

.form_container .button{
    background-color: #ff7445;
    margin-top: 30px;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.form_container .button:hover{
    background:#eb4b16;
}

.login_signup{
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}
.error{
    background-color: rgb(255, 0, 0, 0.8);
    color: white;
    padding: 10px 15px;
    margin-top: 5px;
    border-radius: 10px;
}